{% extends '_base.html' %}

{% load widget_tweaks %}

{% block content %}

<div class="container">
    <div class="row mt-5 mb-5 ml-5">
        <div class="col-8">
            <form method="POST">
                {% csrf_token %}
                
                <div class="input-group mb-5">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white px-3 border-md border-right-0">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-envelope-fill"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                            </svg>
                        </span>
                    </div>
                    {% render_field form.email class+="form-control" class+="bg-white" class+="border-left-0" class+="border-md" placeholder="Email" id="email" type="email" name="email" required="true" %}

                </div>

                <p class="text-muted">Note: Enter your email and we will send you password reset instructions</p>

                <button type="submit" class="btn btn-primary btn-block font-weight-bold">Request Password Reset</button>

            </form>
        </div>
    </div>
</div>

{% endblock content %}