{% extends '_base.html' %}

{% load widget_tweaks %}

{% block content %}

<div class="container">
    <div class="col-md-10 col-lg-8 mt-5 mb-5">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="row">

                <div class="input-group col-lg-12 mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white px-3 border-md border-right-0">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-lock" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M11.5 8h-7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zm-7-1a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-7zm0-3a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z" />
                            </svg>
                        </span>
                    </div>
                    {% render_field form.old_password class+="form-control" class+="bg-white" class+="border-left-0" class+="border-md" placeholder="Old Password" id="old_password" type="password" name="old_password" required="true" %}

                </div>

                <div class="input-group col-lg-12 mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white px-3 border-md border-right-0">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-lock" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M11.5 8h-7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zm-7-1a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-7zm0-3a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z" />
                            </svg>
                        </span>
                    </div>
                    {% render_field form.new_password1 class+="form-control" class+="bg-white" class+="border-left-0" class+="border-md" placeholder="New Password" id="new_password1" type="password" name="new_password1" required="true" %}

                </div>

                <div class="input-group col-lg-12 mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white px-3 border-md border-right-0">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-lock" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M11.5 8h-7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zm-7-1a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-7zm0-3a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z" />
                            </svg>
                        </span>
                    </div>
                    {% render_field form.new_password2 class+="form-control" class+="bg-white" class+="border-left-0" class+="border-md" placeholder="Confirm New Password" id="new_password2" type="password" name="new_password2" required="true" %}

                </div>

                {% for field in form %}
                <div class="fieldWrapper" id="error-msg">
                    {{ field.errors }}
                </div>
                {% endfor %}
                {% if profile_form.errors %}
                <!-- Error messaging -->
                <div id="errors">
                    <div class="inner">
                        <p>There were some errors in the information you entered. Please correct the following:</p>
                        {{ profile_form.non_field_errors }}
                        <ul>
                            {% for field in profile_form %}
                            {% if field.errors %}
                            <li>
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                {{ field.label }}: {{ field.errors|striptags }}
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- /Error messaging -->
                {% endif %}

                <input type="submit" class="btn btn-primary btn-block py-2" value="Update ">

            </div>

        </form>
    </div>
</div>


{% endblock content %}