{% extends '_base.html' %}

{% load widget_tweaks %}

{% block content %}

<div class="container">
    <div class="col-md-10 col-lg-8 mt-5 mb-5">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="row">

                <div class="input-group col-lg-6 mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white px-3 border-md border-right-0">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-person"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z" />
                                <path d="M13.784 14c-.497-1.27-1.988-3-5.784-3s-5.287 1.73-5.784 3h11.568z" />
                                <path fill-rule="evenodd" d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            </svg>
                        </span>
                    </div>

                    {% render_field form.first_name class+="form-control" class+="bg-white" class+="border-left-0" class+="border-md" placeholder="First name" id="firstName" type="text" name="first_name" required="true" autofocus="true" %}

                </div>

                <div class="input-group col-lg-6 mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white px-3 border-md border-right-0">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-person-fill"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M2 3a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3zm6 7a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm5 2.755C12.146 11.825 10.623 11 8 11s-4.146.826-5 1.755V13a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-.245z" />
                            </svg>
                        </span>
                    </div>
                    {% render_field form.last_name class+="form-control" class+="bg-white" class+="border-left-0" class+="border-md" placeholder="Last name" id="lastName" type="text" name="last_name" required="true" %}

                </div>

                <div class="input-group col-lg-12 mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white px-3 border-md border-right-0">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-badge"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M12 1H4a1 1 0 0 0-1 1v11.755S4 12 8 12s5 1.755 5 1.755V2a1 1 0 0 0-1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z" />
                                <path fill-rule="evenodd"
                                    d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM6 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5z" />
                            </svg>
                        </span>
                    </div>
                    {% render_field form.username class+="form-control" class+="bg-white" class+="border-left-0" class+="border-md" placeholder="Username" id="username" name="username" required="true" %}

                </div>

                <div class="input-group col-lg-12 mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white px-3 border-md border-right-0">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-envelope-fill"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                            </svg>
                        </span>
                    </div>
                    {% render_field form.email class+="form-control" class+="bg-white" class+="border-left-0" class+="border-md" placeholder="Email" id="email" type="email" name="email" required="true" %}

                </div>

                <div class="input-group col-lg-12 mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-white px-3 border-md border-right-0">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-flag" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M3.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z" />
                                <path fill-rule="evenodd"
                                    d="M3.762 2.558C4.735 1.909 5.348 1.5 6.5 1.5c.653 0 1.139.325 1.495.562l.032.022c.391.26.646.416.973.416.168 0 .356-.042.587-.126a8.89 8.89 0 0 0 .593-.25c.058-.027.117-.053.18-.08.57-.255 1.278-.544 2.14-.544a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5c-.638 0-1.18.21-1.734.457l-.159.07c-.22.1-.453.205-.678.287A2.719 2.719 0 0 1 9 9.5c-.653 0-1.139-.325-1.495-.562l-.032-.022c-.391-.26-.646-.416-.973-.416-.833 0-1.218.246-2.223.916a.5.5 0 1 1-.515-.858C4.735 7.909 5.348 7.5 6.5 7.5c.653 0 1.139.325 1.495.562l.032.022c.391.26.646.416.973.416.168 0 .356-.042.587-.126.187-.068.376-.153.593-.25.058-.027.117-.053.18-.08.456-.204 1-.43 1.64-.512V2.543c-.433.074-.83.234-1.234.414l-.159.07c-.22.1-.453.205-.678.287A2.719 2.719 0 0 1 9 3.5c-.653 0-1.139-.325-1.495-.562l-.032-.022c-.391-.26-.646-.416-.973-.416-.833 0-1.218.246-2.223.916a.5.5 0 0 1-.554-.832l.04-.026z" />
                            </svg>
                        </span>
                    </div>
                    {% render_field profile_form.bio class+="form-control" class+="bg-white" class+="border-left-0" class+="border-md" placeholder="Bio..." required="true" name="bio" %}

                </div>

                <div class="input-group col-lg-12 mb-4">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-bounding-box mr-2 mb-3"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z" />
                        <path fill-rule="evenodd"
                            d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                    <span style="font-weight:bold;"> {{ profile_form.profile_picture.label }}</span>
                    {% render_field profile_form.profile_picture class+="form-control-file" name="profile_picture" %}

                </div>

                {% for field in form %}
                <div class="fieldWrapper" id="error-msg">
                    {{ field.errors }}
                </div>
                {% endfor %}
                {% if profile_form.errors %}
                <!-- Error messaging -->
                <div id="errors">
                    <div class="inner">
                        <p>There were some errors in the information you entered. Please correct the following:</p>
                        {{ profile_form.non_field_errors }}
                        <ul>
                            {% for field in profile_form %}
                            {% if field.errors %}
                            <li>
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                {{ field.label }}: {{ field.errors|striptags }}
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- /Error messaging -->
                {% endif %}

                <input type="submit" class="btn btn-primary btn-block py-2" value="Update ">

            </div>

        </form>
    </div>
</div>


{% endblock content %}