{% extends "_base.html" %}

{% load widget_tweaks %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="comment-form-wrap pt-5 mb-5 col-md-12">
            <h3 class="mb-5">Update comment:</h3>
            <form action="" class="p-1 bg-light" method="post">
                {% csrf_token %}
                {% render_field form.body class+="form-control" rows="3" cols="50" %}
                <input type="submit" value="Update" class="btn btn-primary btn-block">
            </form>
        </div>
    </div>
</div>

{% endblock content %}