<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ftco-footer-widget">
                    <h2 class="logo"><a href="{% url 'index' %}">Blog<span>it</span>.</a></h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the blind texts.</p>
                </div>
            </div>
            <div class="col-md">
                <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                    <li class="ftco-animate">
                        <a href="https://www.linkedin.com/in/fadi-rezek-salloum/" target="_blank">
                            <span class="icon-linkedin"></span>
                        </a>
                    </li>
                    <li class="ftco-animate">
                        <a href="https://www.facebook.com/fadi.rezeksalloum" target="_blank">
                            <span class="icon-facebook"></span>
                        </a>
                    </li>
                    <li class="ftco-animate">
                        <a href="https://www.instagram.com/fadi.rezek.salloum/" target="_blank">
                            <span class="icon-instagram"></span>
                        </a>
                    </li>
                    <li class="ftco-animate">
                        <a href="https://github.com/FadiRezekSalloum" target="_blank">
                            <span class="icon-github"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li>
                                <span class="icon icon-map-marker"></span>
                                <span class="text">Homs, Syria </span>
                            </li>
                            <li>
                                <span class="icon icon-phone"></span>
                                <span class="text">+963 993 791 182</span>
                            </li>
                            <li>
                                <span class="icon icon-envelope"></span>
                                <span class="text"> fadi.rezek.salloum.97@gmail.com</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>